# Enable mod_rewrite
RewriteEngine On

# Check if the requested URL is NOT a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Check if the requested URL is NOT a file
RewriteCond %{REQUEST_FILENAME} !-f

# Check if the file with .html extension exists
RewriteCond %{REQUEST_FILENAME}.html -f

# Rewrite the URL to point to the .html file
RewriteRule ^(.*)$ $1.html [NC,L]
